*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(23, 68, 23);
}
h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: white;
    
}
.container{
        display: flex;
        justify-content: center;
        align-content: center;
}
.game{
    display: flex;
    justify-content: center;
    width: 40vh;
    height: 40vh;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;

}
.box{
    font-size: 2.5rem;
    background: rgb(173, 173, 119);
    border: 0;
    border-radius: 1rem;
    outline: 0;
    width: 11vmin;
    height: 11vmin;
    color: rgb(116, 17, 17);
}
.hide{
    display: none;
}
.msgBox{
    text-align: center;
    margin: 8rem;
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
}
span{
    color: black;
}